<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout/laylout::library}"></th:block>
</head>
<body>
<th:block th:replace="~{layout/laylout::header}"></th:block>
<a href="/students/create">Thêm mới sinh viên</a>
<form action="/students" method="get">
    <input name="searchName" placeholder="enter name" th:value="${searchName}">
    <button type="submit">Tìm kiê</button>
</form>
<h1>Danh sách sinh viên</h1>
<table>
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
<!--        <th>Class Id</th>-->
        <th>Detail1</th>
        <th>Detail2</th>
    </tr>
    <tr th:each="student,status:${studentPage.content}">
        <td th:text="${status.count}"></td>
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:switch="${student.gender}">
            <span th:case="true" th:text="${'Male'}"></span>
            <span th:case="false" th:text="${'Female'}"></span>
        </td>
<!--        <td th:text="${student.getClasses().getName()}"></td>-->
        <td><a th:href="@{students/detail(id=${student.id})}">Detail1</a></td>
        <td><a th:href="@{students/detail/__${student.id}__}">Detail2</a></td>
    </tr>
</table>
<a  th:if="${studentPage.hasPrevious()}" th:href="@{/students(page=${studentPage.number - 1},searchName=${searchName})}">Pre</a>
<span th:text="${studentPage.number +1}"></span>/<span th:text="${studentPage.totalPages}"></span>
<a  th:if="${studentPage.hasNext()}" th:href="@{/students(page=${studentPage.number +1 },searchName=${searchName})}">Next</a>
<th:block th:replace="~{layout/laylout::footer}"></th:block>
</body>
</html>